# Byte-compiled / optimized files
__pycache__/
*.py[cod]

# Distribution / packaging
build/
dist/
*.egg-info/
node_modules/

# Virtual environments
env/
venv/
.venv/

# Unit test / coverage reports
.coverage
*.cover
.pytest_cache/

# Jupyter Notebook
.ipynb_checkpoints

# Logs
*.log

# Environments
.env

# macOS
.DS_Store

data/
